.main-header {
  background: #761212;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;

}
