.media-player {
  margin-top: 20px;
  text-align: center;
}

video {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
button {
  margin: 5px;
}
.media-player video {
  width: 100%;
  max-width: 900px; /* puedes ajustar este valor */
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}