<div class="container mt-5">

  <!--El buscador (pipe)-->
  <div class="container title align-items-center"></div>
  <!--Boton que va a la página de crear nuevo -->

  <div class="container d-flex justify-content-end align-items-center mb-3">
    <button class="btn btn-primary" style="margin-right: 10px;" (click)="goToCreatePlayer()">Crear Jugador</button>

    <input type="text" placeholder="Buscar jugador..." [(ngModel)]="searchText" style="margin-top: 10px; margin-bottom: 10px; padding: 5px; width: 200px;" />

    <select [(ngModel)]="filterBy" style="margin-left: 10px; padding: 5px;">

      <option value="nombre">Nombre</option>
      <option value="posicion">Posición</option>
      <option value="edad">Edad</option>
    </select>

  </div>
  <!--El titulo de la página-->
  <h2 class="text-center mb-4">Lista de jugadores</h2>

  <!-- Carga datos desde Firestore -->
  <ng-container *ngIf="players$ | async as players; else cargando">
    <!-- Detalle del jugador seleccionado -->
    <app-detail-component [player]="selectedPlayer"></app-detail-component>

    <!-- Tabla -->
    <table class="table table-striped table-bordered w-75 mx-auto text-center mt-4">
      <thead class="table-dark">
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Ajustes</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let player of players | playerFilter:searchText:filterBy" (click)=" selectedPlayer = player" style="cursor: pointer;">
          <td>{{ player.name }}</td>
          <td>{{ player.lastName }}</td>
          <td>
            <button class="btn btn-warning btn-sm" style="margin-right: 10px;" (click)="goToEditPlayer(player, $event)">Editar</button>
            <button class="btn btn-danger btn-sm" (click)="deletePlayer(player, $event)"> Eliminar</button>
          </td>
        </tr>

        <tr *ngIf="(players | playerFilter:searchText:filterBy).length === 0">
          <td colspan="2" class="text-muted">No hay resultados</td>
        </tr>
      </tbody>
    </table>
  </ng-container>

  <ng-template #cargando>
    <p class="text-center text-muted mt-4">Cargando jugadores…</p>
  </ng-template>
</div>
